.adsLeft{
    position: absolute;
    top: 10vh;
    left: 0;
}
.adsRight{
    position: absolute;
    top: 10vh;
    right: 0;
}
.center{
    display: flex;
    width: 100vw;
    justify-content: center;
}